In [2]:
import pandas as pd
from pathlib import Path

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import psycopg2
from config import db_password

import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/city_info"
engine = create_engine(db_string)

In [4]:
df = pd.DataFrame(engine.execute("SELECT * FROM cities").fetchall())
df

   0        1           2       3
0  1  Alameda  California   79177
1  2     Mesa     Arizona  496401
2  3   Boerne       Texas   16056
3  6   Tucson     Arizona  535677
4  7  Garland       Texas  238002
5  5  Anaheim  California  352497

In [ ]:
X = df.YearsExperience.values.reshape(-1, 1)

In [ ]:
X[:5]

In [ ]:
X.shape

In [ ]:
y = df.Salary

In [ ]:
model = LinearRegression()
model.fit(X, y)

In [ ]:
y_pred = model.predict(X)
print(y_pred.shape)

In [ ]:
plt.scatter(X, y)
plt.plot(X, y_pred, color='red')
plt.show()